.Glava{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

td{
    border: 1px solid black;
    padding-left: 10px;
    padding-top:5px ;
    padding-right: 10px;
}
.ball{
    text-align: center;
}
h1{
    color: black;
    
}
a{
    text-decoration: none;
    color: black ;
 
}
.now{
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
    border: 2px solid black;
    text-align: center;
} 

